[report]
omit = 
        epicMail-api/venv/*
        */venv/*
        */site-packages/nose/*
        */__pycache__/*
        *.pyc
        */home/travis/virtualenv/*
        */__init__.py 
        api/controllers/message_controller.py 
        api/controllers/users_controller.py
        api/validators.py
        api/models/message_model.py
        api/models/users_model.py
        run.py